html, body, #content {
  height: 100%;
}

footer {
  height: 5%;
}

body {
  background: #FFE8A0;
  color: #333;
}

header {
  background: #701811;
  color: #FFE8A0;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 !important;
  height: auto;
  max-height: 100px;
}

header h1 {
  margin: 10px;
}

footer {
  max-width: 1200px;
  margin: 0px auto;
}

footer .r {
  text-align: right;
}

a {
  color: #6f8822;
}

a:hover {
  color: #9ec22e;
}

#main {
  border-radius: 5px;
  border: 4px solid #701811;
  height: 77%;
  margin: 15px auto;
  max-height: 595px;
  max-width: 1200px;
  padding: 10px;
}

.model {
  padding: 0;
  height: 95%;
}

.model img {
  height: 95%;
}

li.brand_name {
  list-style: none;
  font-weight: bold;
}

a.model {
  cursor: pointer;
  font-weight: normal;
}

a.model span.desc{
  color: #333;
  font-style: italic;
  font-size: 95%;
}

#sidebar {
  padding: 0 0 15px 25px;
}

#content {
  border-right: 4px dashed #701811;
}

#description {
  height: auto;
}

#model-brand-menu {
  padding: 0;
}

#model-container {
  border-top: 4px dashed #701811;
  margin: 25px -19px 0 0;
  padding: 25px 0 15px 0;
  height: 79%;
}

.model-info {
  padding-left: 0;
}

.model-info h2 {
  margin-top: 0;
}

div.model-image {
  margin: 0 15px;
  padding: 0;
  position: relative;
  height: 100%;
  text-align: center;
}

span.img_name {
  background: #701811;
  bottom: 0;
  color: #FFE8A0;
  display: block;
  left: 0;
  margin: 0px auto;
  opacity: .85;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (max-width:991px) {
  header h1 {
  }

  #content {
    border: none;
  }

  #main {
    width: 85%;
  }
}

#sidebar.mobile {
  background: #701811;
  color: #FFE8A0;
  font-size: 125%;
  left: 0;
  margin-left: -100%;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
}

#sidebar.mobile a.model span.desc {
  color: #FFE8A0;
}

#sidebar.mobile h3 {
  margin-top: 0;
}

.mobile-controls {
  z-index: 11;
  font-size: 22px;
}

.mobile-controls button {
  background: none;
  border: 0;
}

.mobile-controls .close {
  color: #FFE8A0;
  text-shadow: none;
  opacity: 1;
  float: right;
  display: none;
}

.mobile-controls .menu {
  float: left;
}

header .mobile-controls {
  float: left;
  margin: 10px 0;
  width: 95%;
  position: absolute;
}