body {
  background: #FFE8A0;
  color: #333;
}

header {
  background: #701811;
  color: #FFE8A0;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 !important;
}

header h1 {
  margin: 10px;
}

footer {
  max-width: 1200px;
  margin: 0px auto;
}

footer .r {
  text-align: right;
}

a {
  color: #6f8822;
}

a:hover {
  color: #9ec22e;
}

#main {
  border-radius: 5px;
  border: 4px solid #701811;
  margin: 15px auto;
  padding: 10px;
  max-width: 1200px;
}

.model {
  padding: 0;
}

.model img {
  max-width: 100%;
}

li.brand_name {
  list-style: none;
  font-weight: bold;
}

a.model {
  cursor: pointer;
  font-weight: normal;
}

a.model span.desc{
  color: #333;
  font-style: italic;
  font-size: 80%;
}

#sidebar {

}

#content {
  border-right: 4px dashed #701811;
}

#model-brand-menu {
  padding: 0;
}

#model-container {
  border-top: 4px dashed #701811;
  margin: 25px -19px 0 0;
  padding: 25px 0 15px 0;
}

.model-info {
  padding-left: 0;
}

.model-info h2 {
  margin-top: 0;
}

div.model-image {
  margin: 0 15px;
  padding: 0;
  position: relative;
}

span.img_name {
  background: #701811;
  bottom: 0;
  color: #FFE8A0;
  display: block;
  left: 0;
  margin: 0px auto;
  opacity: .85;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}